In [1]:
1+2

3

In [2]:
a=10

In [3]:
a

10

In [4]:
gop = 123

In [5]:
gop

123

In [6]:
type(gop)

int

1. We can provide provide anything as variables but there is a some restrictions
2. Equalto(=) - is a assignment variable which is assigning the value to the mentioned variables
3. type(variable) will give us the datatype
    3.1 In other prog languages we have to mention/declare datatype but python will automatically assign
    Ex - Java - int a = 10

In [7]:
s = 'You are awesome'

In [8]:
s

'You are awesome'

In [9]:
type(s)

str

1. string is a combination of char

In [10]:
f = 123.45

In [11]:
f

123.45

In [12]:
type(f)

float

1. Floating is allow us to enter decimal numbers

In [13]:
c = 5 + 6j #j is notation for iota

In [14]:
type(c)

complex

In [15]:
c

(5+6j)

In [16]:
c.real #real is a inbuilt func

5.0

In [17]:
c.imag #imag is a inbulit func

6.0

1. Above is the example for complex datatype

In [18]:
b = True

In [19]:
type(b)

bool

In [20]:
b

True

1. creating variable is for reusability

In [21]:
a1 = 10
b1 = 23

In [22]:
a1

10

In [23]:
b1

23

In [24]:
a1+b1

33

In [25]:
a1-b1

-13

In [26]:
a1*a1

100

In [27]:
a1, a2 = 23, 34 #multiple variables in single line

In [28]:
a1

23

In [29]:
a,b,c,d = 123,"Gopi",12.30,True #all datatypes can be saved in single

In [30]:
b

'Gopi'

In [31]:
type(c)

float

In [32]:
%a = 234

UsageError: Line magic function `%a` not found.

In [33]:
0b = 234

SyntaxError: invalid binary literal (923969111.py, line 1)

In [35]:
b0 = 234

In [36]:
@h = 159

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3100008785.py, line 1)

In [37]:
_a = 34

In [38]:
-b = 234

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1694425758.py, line 1)

In [39]:
True = 45

SyntaxError: cannot assign to True (3093263138.py, line 1)

1. %a is not a acceptable variable % is special character which is not permit
2. should not use reserved keywords, some of the special characters

In [40]:
b1 = True

In [41]:
b2 = False

Boolean will convert internally like True means 1 & False means 0

In [42]:
b1 - b2

1

In [43]:
b1*b1

1

In [44]:
b1/b2

ZeroDivisionError: division by zero

if anything divided by 0 will return ZeroDivisionError in core python
if we are using NumPy it will return as infinity(just like math)

In [45]:
s1 = 'my name is Gopi'

In [46]:
s1

'my name is Gopi'

In [47]:
type(s1)

str

In [48]:
s2 = 'this is my first python class for data science master's'

SyntaxError: unterminated string literal (detected at line 1) (2402546255.py, line 1)

System can't understand if we use the string like above it will be consider as mistake by system. To use single quote(') use double quotes outside like below

In [49]:
a = "you're awesome"

In [50]:
a

"you're awesome"

In [51]:
#Example for adding single line comments 

s3 = 'You"re awesome'

In [52]:
s3

'You"re awesome'

In [53]:
'''Multiline comments - select all then ctrl+/ or use three single quotes
this is my first python class
I am trying to learn variable declaration
so far i have learn int, boolean, string, complex number, float variable decalration'''
a = 10

In [54]:
s1 = 'Gopi'

In [55]:
a = 10

In [56]:
s1 + a

TypeError: can only concatenate str (not "int") to str

In [57]:
s2 = 'nath'

In [58]:
s1+s2

'Gopinath'

'+' operator may not work between two different datatypes

In [59]:
# Converting datatypes -typecasting
str(a)

'10'

In [60]:
type(a)

int

In [61]:
s1 + " " + str(a)

'Gopi 10'

In [62]:
int(a) #if int(reserved keyword) earlier it will throw an error

10

In [63]:
type(a)

int

In [64]:
int(s1) #if numerical value inside the str it'll convert otherwise it will an error like below

ValueError: invalid literal for int() with base 10: 'Gopi'

Getting user input below example

In [66]:
b = input() #inbulit func but default datatype will be str

 1234

In [67]:
b

'1234'

In [68]:
type(b)

str

In [69]:
a = float(input()) # type casting can be done like this int, bool

 125

In [70]:
a

125.0

In [71]:
type(a)

float

Extracting char from string using indexing and slicing
1. Forward indexing will start from 0, 1, 2, ...
2. Backward indexing will start -1, -2, -3, ....
3. IndexError will occur when we enter out of range of char

In [72]:
s = "Gopinath"

In [73]:
s[1]

'o'

In [74]:
s[-5]

'i'

In [75]:
s[100]

IndexError: string index out of range

In [76]:
s[-15]

IndexError: string index out of range

In [80]:
s1 = "pwskills" #slicing the data

In [84]:
s1[0:2] #0 starting point and 2 is ending point(upbound -1)

'pw'

In [86]:
s1[2:7]

'skill'

In [91]:
s1[2:8000] # slicing will execute eventhough we give upbound like this

'skills'

In [92]:
s1[2:]

'skills'

I need specific data instead of sequece

In [101]:
s1[0:7:2] # starting point:end Point:jump/step point(default 1 is jumping point)

'psil'

In [99]:
s1

'pwskills'

In [103]:
s1[7:3] #slicing will jump positive direction not negative direction

''

In [105]:
s1[7:3:-1] #to overcome above follow this

'slli'

In [106]:
s1[-1:-5]

''

In [107]:
s1[-1:-5:-1] #data and slicing should be same direction

'slli'

In [113]:
s1[7:0:-1]

'slliksw'

In [114]:
s1[7::-1]

'sllikswp'

In [115]:
s1[::-1]

'sllikswp'

In [117]:
s1[7:-9:-1] # -9 is working as upbound

'sllikswp'

In [118]:
s1[0]

'p'

In [121]:
s1[0] = 's' #reassignment will not work like this in STR datatype because this immutable datatype

TypeError: 'str' object does not support item assignment